<ion-view view-title="Contacto">
  <ion-content >
    <img src="img/logoIdecon.png" class="iconLogin" style=" width: 20% !important;
     position: relative !important;
     left: 41% !important;
     top: 25px !important;
     z-index: 1000 !important;
     color: #FFFFFF !important;
     font-weight: bold !important; ">
        <div class="list card " style="background-color: transparent !important; margin:0px ;" >
            <div class="item" style="padding-bottom: 0px" >
               <h4 class="text-center" style="font-size: x-large; ">Idecon</h4>
               <p class="text-center ">90420982093</p>
            </div>
            <div class="item item-body" style="padding-top: 0px; padding-bottom: 2%" >
            <div class="row">
              <div class="col text-center ">
                <button class="button button-fab button-dark icon ion-social-facebook " data-ink-color="#ff0000" data-ink-opacity=".8"></button>
              </div>
              <div class="col text-center">
                <button class="button button-fab icon button-dark ion-social-instagram " data-ink-color="#ff0000" data-ink-opacity=".8"></button>
              </div>
              <div class="col text-center">
                <button class="button button-fab button-dark icon ion-social-twitter " data-ink-color="#ff0000" data-ink-opacity=".8"></button>
              </div>
             <div class="col text-center">
                <button class="button button-fab button-dark icon ion-email " data-ink-color="#ff0000" data-ink-opacity=".8"></button>
              </div>
              <div class="col text-center">
                <button class="button button-fab button-dark icon ion-ios-telephone " data-ink-color="#ff0000" data-ink-opacity=".8"></button>
              </div>
             </div>
            </div>
        </div>
     <h4 class=" text-center" style="margin-left: 2% ; font-size: large"">Información</h4>
     <div style="padding-left: 5%; padding-right: 5%">
           <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
           consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </ion-content>
</ion-view>
