<ion-view view-title="Eventos Culminados" class="">
    <ion-content class="has-header has-footer bgApp">
      <!-- LA LISTA--> 
      <p ng-if="!eventos[0]" style="text-align: center; margin-top: 5%">No hay eventos</p>    
      <div class="list" >
          <a class="item item-thumbnail-left item-icon-right" ng-repeat="evento in eventos " ng-click="detalleEvento(evento);">
            <img src="{{path+evento.imagen}}">
            <h2>{{evento.descripcion}} </h2>
            <p>{{evento.Direccion}}</p>
            <p><b>Inició:</b> {{evento.inicio}}</p>
            <p><b>Finalizó:</b> {{evento.fin}}</p>
            <i class="icon ion-chevron-right" style="font-size:  20px;" ></i>
          </a>
      </div>
                      
    </ion-content>
  
</ion-view>
