<ion-view view-title="Eventos" class="">
    
        
    <ion-content class="has-header has-footer">
      
      <!-- LA LISTA-->  
      <div ng-show="x==1">
        <p ng-if="!eventos[0]" style="text-align: center; margin-top: 5%">No hay eventos</p>
      <div class="list" >

          <a class="item item-thumbnail-left item-icon-right" ng-repeat="evento in eventos " ng-click="detalleEvento(evento)">
            <img src="{{path+evento.imagen}}">
            <h2>{{evento.descripcion}} </h2>
            <p>{{evento.Direccion}}</p>
            <p><b>Inicia: </b>{{evento.inicio}}</p>
            <p><b>Finaliza:</b> {{evento.fin}}</p>
            <i class="icon ion-chevron-right" style="font-size:  20px;" ng-click="detalleEvento(evento)"></i>
          </a>
      </div>
   

      </div>

      <!-- EL MAPA-->
      <div ng-if="x==2" >
        <div id="map1" ng-init="initialize()" style="width: 100%; height: 100% !important;    position: absolute !important;"></div>
      </div>
                    
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="tabs tabs-icon-top bar-color" style="position: static; margin-bottom: 15px;color: #00000 !important">
          <a class="tab-item" ng-class="{active: x == 1}" href="" ng-click="act(1)">
              <i class="icon ion-android-list" style="font-size: 25px ! important ;height: 25px ! important"></i> Lista
          </a>
          <a class="tab-item" ng-class="{active: x == 2}" href="" ng-click="act(2)">
              <i class="icon ion-ios-location"  style="font-size: 25px ! important ; height: 25px ! important"></i> Mapa
          </a>
      </div>
    </div>
</ion-view>
