<ion-view view-title="Lugares" class="">
    <div class="bar bar-subheader item-input-inset bar-color">
      <label class="item-input-wrapper" style="margin-left: 3%;margin-right: 3%;">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="filtro">
      </label>
    </div>
        
    <ion-content class="has-subheader has-footer">

      <div class="list" >

          <a class="item item-avatar item-icon-right" ng-repeat="i in info | filter:filtro">
            <img src="img/material4.jpg">
            <h2>{{i.nombre}} </h2>
            <p>{{i.direccion}}</p>
            <i class="icon ion-ios-location" style="font-size:  20px;color: #ff9c3e;" ng-click="comollegar2(i)"></i>
          </a>
      </div>
      
      
    </ion-content>
    
</ion-view>
