
<ion-view view-title="Resumen">
  
    <ion-content class="has-header has-footer">
      
      <p id="gcm_id"></p> 
      

      <div>
        <div class="row">
            <div class="card marginCard col text-center" style="margin-bottom: 15px;">
                  
              <div class="item item-text-wrap" >
                  <h1 class="letraAzul">{{total.eventosPasados}}</h1>
              </div>

              <div class="item item-divider bgFooter no-padding letraAzul">
                Eventos Realizados
              </div>
            </div> 
            <div class="card marginCard col text-center" style="margin-bottom: 15px;">
                  
              <div class="item item-text-wrap" >
                  <h1 class="letraAzul">{{total.eventosProximos}}</h1>
              </div>

              <div class="item item-divider bgFooter no-padding letraAzul">
                    Eventos Proximos 
              </div>
            </div>    
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="button button-fab button-balanced icon fa fa-hotel" ng-click="showPopupHotel()"></button>
            <h4>{{hoteles}}</h4>
          </div>
          <div class="col text-center">
            <button class="button button-fab button-assertive icon fa fa-cutlery" ng-click="showPopupRestaurante()"></button>
            <h4>{{restaurantes}}</h4>
          </div>
          <div class="col text-center">
            <button class="button button-fab ink-dark button-calm icon material-icons" ng-click="showPopupLugares()">beach_access</button>
            <h4>{{lugares}}</h4>
          </div>
        </div>

        <div class="card marginCard text-center">
          <div class="item item-divider bgAzul" style="font-size: large;padding-top: 0;">
              <i class="icon  fa fa-bar-chart"></i> Tipo de Actividades
          </div>
          <div class="item item-text-wrap" >
              <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
              </canvas>
              <div class="row">
                <div class="col cobrado"><i class="icon ion-android-checkbox-blank"></i><p>Sin valor comercial</p></div>
                <div class="col facturado "><i class="icon ion-android-checkbox-blank"></i><p> Con boleta de ingreso</p></div>
                <div class="col cobrar"><i class="icon ion-android-checkbox-blank"></i><p> Con valor comercial</p></div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="card marginCard col text-center" style="margin-bottom: 15px;">
                    
                <div class="item item-text-wrap" >
                    <h1 class="letraAzul">{{horasPasadas}}h</h1>
                </div>

                <div class="item item-divider bgFooter no-padding letraAzul">
                Horas pasadas
                </div>
            </div> 
            <div class="card marginCard col text-center" style="margin-bottom: 15px;">
                    
                <div class="item item-text-wrap" >
                    <h1 class="letraAzul">{{horasProximas}}h</h1>
                </div>

                <div class="item item-divider bgFooter no-padding letraAzul">
                    Horas proximas 
                </div>
            </div>    
        </div>

        
        <div class="card marginCard text-center">
            <div class="item item-divider bgAzul" style="font-size: large;padding-top: 0;">
                <i class="icon ion-ios-pie"></i> Empresas
            </div>
            <div class="item item-text-wrap" >
                <canvas id="pie" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="options">
                </canvas>  
                </canvas> 
                <div class="row">
                  <div class="col facturado"><i class="icon ion-android-checkbox-blank"></i><p>Proveedoras</p></div>
                  <div class="col cobrado"><i class="icon ion-android-checkbox-blank"></i><p> Patrocinadoras</p></div>
                  <div class="col cobrar"><i class="icon ion-android-checkbox-blank"></i><p>Consumidoras</p></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="button button-fab button-assertive icon fa fa-building-o" ng-click="showPopupEmpresa()"></button>
                <h4>{{cantEmpresas}}</h4>
            </div>
            <div class="col text-center">
                <button class="button button-fab button-calm icon fa fa-user fa fa-child" ng-click="showPopupParticipante()"></button>
                <h4>{{totalParticipante.natural}}</h4>
            </div>
            <div class="col text-center">
                <button class="button button-fab button-energized icon fa fa-music" ng-click="showPopupAgrupacion()"></button>
                <h4>{{totalAgrupacion.cantidad}}</h4>
            </div>
                
        </div>

        <div class="row" style="padding-left: 4%">
            <p class="no-margin">Hemos Generados <b>{{sum.nempleados}}</b> empleos que estan distribuidos de entre los diferentes generos de la siguiente forma:</p>
        </div>

        <div class="row">
            <div class="card marginCard col " style="margin-bottom: 15px;">
              
              <div class="item item-text-wrap " >
                  
                <p class="no-margin" style="width:100%" data-value="{{porcMujeres.toFixed(1)}}">Mujeres</p>
                    <progress max="100" value="{{porcMujeres}}" class="html5">
                        <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                        <div class="progress-bar">
                            <span style="width: 100%">{{porcMujeres}}%</span>
                        </div>
                </progress>
              </div>

            </div>
            <div class="card marginCard col" style="margin-bottom: 15px;">
                  
              <div class="item item-text-wrap " >
                  
                <p class="no-margin" style="width:100%" data-value="{{porcHombres.toFixed(1)}}">Hombres</p>
                    <progress max="100" value="{{porcHombres}}" class="jquery">
                        <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                        <div class="progress-bar">
                            <span style="width: 100%">{{porcHombres}}%</span>
                        </div>
                    </progress>
              </div>

            </div>    
        </div>
        <div class="row">
            <div class="card marginCard col text-center" style="margin-bottom: 15px;">
                    
                <div class="item item-text-wrap" >
                    <h1 class="letraAzul">{{cantActividades}}</h1>
                </div>

                <div class="item item-divider bgFooter no-padding letraAzul">
                Actividades
                </div>
            </div> 
            <div class="card marginCard col text-center" style="margin-bottom: 15px;">
                    
                <div class="item item-text-wrap" >
                    <h1 class="letraAzul">{{cantSub}}</h1>
                </div>

                <div class="item item-divider bgFooter no-padding letraAzul">
                    Sub-actividades 
                </div>
            </div>    
        </div>
        <h4 class=" text-center letraAzul" style="padding-top: 2%;">Elementos recilados</h4>
        <div class="list" style="padding-bottom: 5%;">
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-recycle" style="font-size: x-large;color:green"></i> Aluminio
                <span class="badge ">{{reciclado[0].kg2}} Kg</span>
            </a>
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-recycle" style="font-size: x-large;color:green"></i> Vidrio
                <span class="badge ">{{reciclado[1].kg2}} Kg</span>
            </a>
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-recycle" style="font-size: x-large;color:green"></i> Plástico PET
                <span class="badge ">{{reciclado[2].kg2}} Kg</span>
            </a>
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-recycle" style="font-size: x-large;color:green"></i> Cartón
                <span class="badge ">{{reciclado[3].kg2}} Kg</span>
            </a>
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-recycle" style="font-size: x-large;color:green"></i> Orgánico
                <span class="badge ">{{reciclado[4].kg2}} Kg</span>
            </a>
        </div>
        <h4 class=" text-center letraAzul" style="padding-top: 2%;">Reducción</h4>
        <div class="list" style="padding-bottom: 5%;">
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-angle-double-down" style="font-size: x-large;color:green"></i> Arboles
                <span class="badge ">{{impacto.reduccionArboles}} Unds</span>
            </a>
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-angle-double-down" style="font-size: x-large;color:green"></i> Agua
                <span class="badge ">{{impacto.reduccionAgua}} Lts</span>
            </a>
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-angle-double-down" style="font-size: x-large;color:green"></i> Petroleo
                <span class="badge ">{{impacto.reduccionPetro}} Lts</span>
            </a>
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-angle-double-down" style="font-size: x-large;color:green"></i> Energia electrica
                <span class="badge ">{{impacto.reduccionKwh}} Kwh</span>
            </a>
            <a class="item item-icon-left" ng-click="buscarJunta()">
                <i class="icon fa fa-angle-double-down" style="font-size: x-large;color:green"></i> Co2
                <span class="badge ">{{impacto.reduccionCo2}} Tn</span>
            </a>
        </div>

      </div>
        
      
    </ion-content>

    
</ion-view>
